doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Work
  link(rel='stylesheet', href='/css/style.css', type='text/css' )

header#home
  ul
    li
      a.active(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/work') My Work
    li
      a(href='/contact') Contact

br 
br

block content 
.card 
    img(src="", alt="")
    .container.cont 
      h4 
      a(href="https://marvoro53.github.io/JS-Trivia-Game/") Trivia Game 
      p Basic &amp; Simple trivia game! 
      | Click the name to see live! 
      | Find the source
      a(href="https://github.com/Marvoro53/JS-Trivia-Game") here  

.card 
    img(src="", alt="")
    .container.cont 
      h4 
      a(href="https://marvoro53.github.io/Final.Project/") My Denver Project
      p Blog &amp; Informational 
      | Click the name to see live! 
      | Find the source
      a(href="https://github.com/Marvoro53/Final.Project") here  

.card 
    img(src="", alt="")
    .container.cont 
      h4 
      a(href="https://marvoro53.github.io/stoplight/") Stoplight Exercise 
      p Basic &amp; Simple 
      | Click the name to see live! 
      | Find the source
      a(href="https://github.com/Marvoro53/stoplight") here  