doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Work
  link(rel='stylesheet', href='/css/style.css', type='text/css' )

header#home
  ul
    li
      a.active(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/work') My Work
    li
      a(href='/contact') Contact

br 
br

block content 
.card 
    img(src="http://codemahal.com/wp-content/uploads/2016/03/quiz.png" heigth="500px" width="500px", alt="")
    .container.cont 
      h4 
      a(href="https://marvoro53.github.io/JS-Trivia-Game/") Trivia Game 
      p Basic &amp; Simple trivia game! 
      | Click the name to see live! 
      | Find the source
      a(href="https://github.com/Marvoro53/JS-Trivia-Game") here  

.card 
    img(src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Denver_skyline.jpg" height="500px" width="500px", alt="")
    .container.cont 
      h4 
      a(href="https://marvoro53.github.io/Final.Project/") My Denver Project
      p Blog &amp; Informational 
      | Click the name to see live! 
      | Find the source
      a(href="https://github.com/Marvoro53/Final.Project") here  

.card 
    img(src="https://images.squarespace-cdn.com/content/v1/55bc0f3be4b07e0f753f5bd1/1506283768675-PHDDUX5963111OXB6K42/stoplight.png?format=1500w" height="500px" width="500px", alt="")
    .container.cont 
      h4 
      a(href="https://marvoro53.github.io/stoplight/") Stoplight Exercise 
      p Basic &amp; Simple 
      | Click the name to see live! 
      | Find the source
      a(href="https://github.com/Marvoro53/stoplight") here  